<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"        
    xmlns:mvc="http://www.springframework.org/schema/mvc"     
    xmlns:tx="http://www.springframework.org/schema/tx"  
    xmlns:aop="http://www.springframework.org/schema/aop"  
    xmlns:context="http://www.springframework.org/schema/context"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"              
    xsi:schemaLocation="                                               
            http://www.springframework.org/schema/beans    
            http://www.springframework.org/schema/beans/spring-beans.xsd    
            http://www.springframework.org/schema/context     
            http://www.springframework.org/schema/context/spring-context.xsd    
            http://www.springframework.org/schema/mvc    
            http://www.springframework.org/schema/mvc/spring-mvc.xsd  
            http://www.springframework.org/schema/tx   
            http://www.springframework.org/schema/tx/spring-tx.xsd  
            http://www.springframework.org/schema/aop  
            http://www.springframework.org/schema/aop/spring-aop.xsd">  

	<!-- 用户的service -->
	<bean id="userService" class="com.ordering.serviceImpl.UserServiceImpl"></bean>
	<!-- 商家的service -->
	<bean id="shoreService" class="com.ordering.serviceImpl.ShoreServiceImpl"></bean>
	<!-- 菜单类别的service -->
	<bean id="menuTypeServiceImp" class="com.ordering.serviceImpl.MenuTypeServiceImp"></bean>
	<bean id="orderingServiceImpl" class="com.ordering.serviceImpl.OrderingServiceImpl"></bean>
	
</beans>